/*global*/
*{
    margin: 0px;;
    padding: 10px;;
}
body{
    font-family: Arial;
}
p{
    line-height: 2;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}

/*utilities*/

/*header*/
.site-init{
    background-image: url(./img/banner.jpg);
    background-size: cover;
    height: 300px;
    text-align: center;
    color:white;
}

/*footer*/
footer{
    background-color: black;
    background-size: fill;
    height: 100;
    text-align: center;
    color: white;
}